* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    /* background-color: rgb(2,9,90); */
    background-color: #faedcd;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000; /* color nav*/
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    z-index:1; /* Posiciona primero el menu */
    align-items: center;

}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    /* font-size: 1.6rem; */
    font-weight: 400;
    color: #000000; /* Color nav */
}

.nav-link:hover{
    color: #AFAAAA; /* Color cursor */
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #FFFFFF; /* color nav*/
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3rem;
        flex-direction: column;
        /* background-color: #000000;  */
        /* background-color: rgb(2,9,90); */
        background-color: #faedcd;
        width: 100%;
        /* height: 40%; */
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .table1{
        width: 90%;
        height: 90%;
    }

    .experience{
        width: 90%;
    }
}